<svg version="1.1"
     baseProfile="full"
     width="{{ PAGE_WIDTH | round(2) }}mm" height="{{ PAGE_HEIGHT | round(2) }}mm"
     viewBox="0 0 {{ PAGE_WIDTH|mm }} {{ PAGE_HEIGHT|mm }}"
     xmlns="http://www.w3.org/2000/svg">

    {% for label in labels %}
    <g>
        <!-- {{ label.name | escape }} -->
        {%- set icon_height_pct = 0.80 if label.icon_filename else 0 %}
        {%- set icon_size = LABEL_HEIGHT * icon_height_pct %}
        {%- set icon_padding = (LABEL_HEIGHT - icon_size) / 2 if icon_size else 0 %}
        {%- set icon_total_width = icon_size + 2*icon_padding %}
        {%- set text_height_pct = 0.65 %}
        {%- set text_height = LABEL_HEIGHT * text_height_pct %}
        {%- set center_y = LABEL_HEIGHT / 2 %}
        {%- if label.icon_filename %}
        <image
            x="{{ (label.x + icon_padding)|mm }}"
            y="{{ (label.y + center_y - icon_size/2)|mm }}"
            width="{{ icon_size|mm }}"
            height="{{ icon_size|mm }}"
            href="{{ label.icon_filename }}"
        />
        {%- endif %}
        <text
            x="{{ (label.x + icon_total_width)|mm }}"
            y="{{ (label.y + center_y)|mm }}"
            font-size="{{ text_height|mm }}"
            dominant-baseline="central"
            style="font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif"
        >{{ label.code | upper | escape }}</text>
    </g>
    {% endfor %}
</svg>
